In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv("Boston1.csv")

In [2]:
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
crim,506.0,3.613524,8.601545,0.00632,0.082045,0.25651,3.677083,88.9762
zn,506.0,11.363636,23.322453,0.00000,0.000000,0.00000,12.500000,100.0000
indus,506.0,11.136779,6.860353,0.46000,5.190000,9.69000,18.100000,27.7400
chas,506.0,0.069170,0.253994,0.00000,0.000000,0.00000,0.000000,1.0000
nox,506.0,0.554695,0.115878,0.38500,0.449000,0.53800,0.624000,0.8710
rm,506.0,6.284634,0.702617,3.56100,5.885500,6.20850,6.623500,8.7800
age,506.0,68.574901,28.148861,2.90000,45.025000,77.50000,94.075000,100.0000
dis,506.0,3.795043,2.105710,1.12960,2.100175,3.20745,5.188425,12.1265
rad,506.0,9.549407,8.707259,1.00000,4.000000,5.00000,24.000000,24.0000
tax,506.0,408.237154,168.537116,187.00000,279.000000,330.00000,666.000000,711.0000
ptratio,506.0,18.455534,2.164946,12.60000,17.400000,19.05000,20.200000,22.0000
black,506.0,356.674032,91.294864,0.32000,375.377500,391.44000,396.225000,396.9000
lstat,506.0,12.653063,7.141062,1.73000,6.950000,11.36000,16.955000,37.9700
medv,506.0,22.532806,9.197104,5.00000,17.025000,21.20000,25.000000,50.0000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  black    506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [8]:
x = pd.DataFrame(data.iloc[:,:-1])
y = pd.DataFrame(data.iloc[:,-1])

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 2)

In [11]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(404, 13)
(404, 1)
(102, 13)
(102, 1)

In [13]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [14]:
v = pd.DataFrame(regressor.coef_,index = ["coefficient"]).transpose()
w = pd.DataFrame(x.columns,columns = ["attribute"])

In [15]:
pd.DataFrame(regressor.coef_,index = ["coefficient"])

,0,1,2,3,4,5,6,7,8,9,10,11,12
coefficient,-0.108224,0.038904,-0.015152,3.158979,-16.585407,3.632885,0.009351,-1.386182,0.324066,-0.011625,-1.036443,0.011613,-0.558409

In [16]:
v

    coefficient
0     -0.108224
1      0.038904
2     -0.015152
3      3.158979
4    -16.585407
5      3.632885
6      0.009351
7     -1.386182
8      0.324066
9     -0.011625
10    -1.036443
11     0.011613
12    -0.558409

In [17]:
w

   attribute
0       crim
1         zn
2      indus
3       chas
4        nox
5         rm
6        age
7        dis
8        rad
9        tax
10   ptratio
11     black
12     lstat

In [18]:
coeff_df = pd.concat([w,v],axis = 1,join = "inner")
coeff_df

   attribute  coefficient
0       crim    -0.108224
1         zn     0.038904
2      indus    -0.015152
3       chas     3.158979
4        nox   -16.585407
5         rm     3.632885
6        age     0.009351
7        dis    -1.386182
8        rad     0.324066
9        tax    -0.011625
10   ptratio    -1.036443
11     black     0.011613
12     lstat    -0.558409

In [20]:
y_pred = regressor.predict(x_test)
y_pred = pd.DataFrame(y_pred,columns = ["predicted"])
y_pred

     predicted
0    23.015062
1    21.211587
2    33.715904
3    31.565424
4     3.182627
..         ...
97   30.286647
98   21.082099
99   13.654677
100  31.386966
101  24.991749

[102 rows x 1 columns]

In [21]:
y_test

     medv
463  20.2
152  15.3
291  37.3
183  32.5
384   8.8
..    ...
200  32.9
12   21.7
129  14.3
194  29.1
320  23.8

[102 rows x 1 columns]

In [24]:
from sklearn import metrics
print("mean squared error: ",metrics.mean_squared_error(y_test,y_pred))
print("mean absolute error: ",metrics.mean_absolute_error(y_test,y_pred))
print("root mean squared error: ",np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

mean squared error:  18.49542012244852
mean absolute error:  3.113043746893449
root mean squared error:  4.30063020061578

In [26]:
import statsmodels.api as sm

In [27]:
model_sm=sm.OLS(y_train,x_train).fit()
model_sm2 = sm.OLS(y_train,sm.add_constant(x_train)).fit()

In [28]:
model_sm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   medv   R-squared (uncentered):                   0.957
Model:                            OLS   Adj. R-squared (uncentered):              0.956
Method:                 Least Squares   F-statistic:                              668.8
Date:                Sun, 03 Sep 2023   Prob (F-statistic):                   9.82e-258
Time:                        17:10:53   Log-Likelihood:                         -1226.0
No. Observations:                 404   AIC:                                      2478.
Df Residuals:                     391   BIC:                                      2530.
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
crim          -0.1030      0.038     -2.712      0.007      -0.178      -0.028
zn             0.0427      0.017      2.485      0.013       0.009       0.076
indus         -0.0370      0.071     -0.522      0.602      -0.176       0.102
chas           3.3399      1.029      3.247      0.001       1.317       5.362
nox           -1.3132      3.849     -0.341      0.733      -8.881       6.254
rm             5.6742      0.353     16.087      0.000       4.981       6.368
age            0.0025      0.016      0.159      0.874      -0.028       0.033
dis           -0.8614      0.220     -3.921      0.000      -1.293      -0.430
rad            0.1941      0.074      2.636      0.009       0.049       0.339
tax           -0.0090      0.004     -2.123      0.034      -0.017      -0.001
ptratio       -0.4253      0.127     -3.347      0.001      -0.675      -0.175
black          0.0174      0.003      5.695      0.000       0.011       0.023
lstat         -0.4564      0.059     -7.769      0.000      -0.572      -0.341
==============================================================================
Omnibus:                      151.969   Durbin-Watson:                   1.988
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              951.375
Skew:                           1.464   Prob(JB):                    2.58e-207
Kurtosis:                       9.925   Cond. No.                     8.46e+03
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 8.46e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [29]:
model_sm2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   medv   R-squared:                       0.729
Model:                            OLS   Adj. R-squared:                  0.720
Method:                 Least Squares   F-statistic:                     80.53
Date:                Sun, 03 Sep 2023   Prob (F-statistic):          9.61e-102
Time:                        17:12:42   Log-Likelihood:                -1206.2
No. Observations:                 404   AIC:                             2440.
Df Residuals:                     390   BIC:                             2496.
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         37.1998      5.875      6.332      0.000      25.649      48.750
crim          -0.1082      0.036     -2.986      0.003      -0.179      -0.037
zn             0.0389      0.016      2.376      0.018       0.007       0.071
indus         -0.0152      0.068     -0.224      0.823      -0.148       0.118
chas           3.1590      0.981      3.219      0.001       1.230       5.088
nox          -16.5854      4.392     -3.777      0.000     -25.220      -7.951
rm             3.6329      0.466      7.798      0.000       2.717       4.549
age            0.0094      0.015      0.625      0.532      -0.020       0.039
dis           -1.3862      0.225     -6.154      0.000      -1.829      -0.943
rad            0.3241      0.073      4.431      0.000       0.180       0.468
tax           -0.0116      0.004     -2.862      0.004      -0.020      -0.004
ptratio       -1.0364      0.155     -6.691      0.000      -1.341      -0.732
black          0.0116      0.003      3.810      0.000       0.006       0.018
lstat         -0.5584      0.058     -9.581      0.000      -0.673      -0.444
==============================================================================
Omnibus:                      134.233   Durbin-Watson:                   2.028
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              548.174
Skew:                           1.418   Prob(JB):                    9.24e-120
Kurtosis:                       7.952   Cond. No.                     1.51e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.51e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""